* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html {
    background-color: #000;
}

/* Haeder */

header {
    height: 5vh;
}

.top-box-header {
    border: none;
    text-align: center;
    color: #fff;
    background-color: #4a4a4a;
}

/* Main */

.card {
    background-image: url('https://picsum.photos/id/1/200/300');
    background-size: cover;
    width: 300px;
    height: 150px;
    background-color: red;
}

.content-card {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
}

/* Footer */

.hover-item:hover {
    background-color: #2e2e2e;
    border-radius: 5px;
    cursor: pointer;
}

.footer-container {
    z-index: 9999;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 8vh;
    color: white;
    background-color: #222222;
}

.footer-container .img-item {
    font-size: 30px;
}

.footer-container .arrow {
    font-size: 10px;
}

.controller-right {
    background-color: #4a4a4a;
    color: red;
}

#green {
    color: #4ac800;
}